<div class="m-quick-sidebar__content m--hide" style="height: 100%; ">
        <span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
                <i class="la la-close"></i>
        </span>
        <div class="tab-content" style="height: 90%; ">
                <div class="tab-pane active m-scrollable" id="task_list" role="tabpanel" style="height: 100%; " >
                        <div class="m-list-timeline" style="height: 100%; ">
                            Chat<br><br>
<iframe src="https://exposcargo.com/chat/index.php?u={{ idusr }}" width="100%" height="100%"></iframe>
                        </div>
                </div>
        </div>
</div>
